/*index.css*/
body.index{
    font-family: Verdana;
    background-image: url(../imagenes/index.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
/*Compatible con cualquier navegador*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
a.titulo{
    text-align: center;
    color: rgba(0,114,189,255);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 6em;
    text-shadow: #555 7px 7px 5px;
    text-decoration: none;
}
body.principal{
    background-color: rgba(192,208,223,255);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*sesion.html*/
#form_conect{
    font-family: Verdana;
    font-size: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}
.botonsito{
    font-family: Verdana;
    font-size: 12px;
    margin-left: 5%;
}
.fondo_form{
    background-color: rgba(114, 114, 114, 0.233);
    border-radius: 10px;
}

/*registro.html*/
#texto_volver{
    text-align: center;
    text-decoration: none;
    color: rgba(0,114,189,255);
    text-shadow: #555 5px 5px 3px;
    font-weight: bold;
}
/*principal.css*/
#titulo{
    height: 7em;
    padding-top: 5%;
    background-image: url(../imagenes/rociana.jpg);
    background-size: cover;
    background-position: center;
}
p.texto_titulo{
    font-family: Verdana;
    text-align: center;
    font-size: 30px;
    color: rgba(0,114,189,255);
    text-shadow: #555 5px 5px 3px;
    font-weight: bold;
}
#principal{
    height: 77em;
}
#encabezado{
    height: 6em;
    background-color: rgba(255, 255, 255, 0.329);
    font-family: Cambria;
}
#noticias{
    margin-top: 1em;
    height: 50em;
}

a.browser_item{
    font-size: 15px;
    margin-top: 2%;
    text-decoration: none;
    color: rgba(0,114,189,255);
    text-shadow: #555 3px 3px 3px;
    float: left;
    margin-left: 5%;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 18px;
}
a.browser_item:hover{
    display: block;
    color: rgb(164,83,84);
    transition: all 0.9s ease;
    letter-spacing: 0.2em;
    font-weight: bold;
}
a.cierre_sesion{
    text-decoration: none;
    float: right;
    margin-right: 3%;
    margin-top: -3%;
    color: rgba(0,114,189,255);
    font-family: Verdana;
    font-size: 12px;
}

/*-----*/
#center_encabezado{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}
#center{
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
}
#discord{
    float: right;
    margin: auto auto;
    height: 64px;
}
#php{
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    margin-top: 2em;
}

/*-----*/

/*ayuntamiento.css*/
#inf-ayunt{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 5px;
    position: absolute;
}
p.titulo-ayunt{
    font-size: 27px;
    font-family: Verdana;
    margin-top: 1px;
    text-shadow: #555 1px 2px 3px;
    margin-left: 5%;
}
#content-ayunt{
    margin-top: 1px;
}
#texto-ayunt{
    font-family: Verdana;
    font-size: 14px;
}
#posic-alcal{
    height: 380px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}
p.texto-ayunt{
    margin-bottom: -13px;
    margin-left: 13px;
}
p.desp-texto-ayunt{
    text-align: center;
}


/*concejalias.css*/
#principal_concejalias{
    height: auto;
}
#contenido_concejalias{
    height: 82em;
    margin-top: 1%;
}
#articulo_concejalia{
    height: 27em;
    width: 30em;
    margin-top: 2%;
    float: left;
    margin-left: 10%;
    text-align: center;
}
#posicion{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 250px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15)
}
#logo_aytm{
    margin-top: -6%;
}
#texto_concejal{
    margin-top: -12%;
    background-color: rgba(213,222,232,255);
    height: 8em;
    font-family: Verdana;
}
p.nombre_concejal{
    padding-top: 1em;
    font-size: 27px;
}
p.info_concejal{
    margin-top: -10px;
    font-size: 14px;
}

